body{
	background-color:black;
}

.block{
    display:inline-block;
}
.non_block{
	display:block;
}

h1, a{
	font-size:125%;
	color:#fff;
}

textarea{
	width:300px;
	height:300px;
}
p{
	color:#fff;
	margin:5px;
}
.convert{
	border-radius: 5px;
	border: 2px solid #fff;
	background-color: #999;
	width: 100px;
	text-align: center;
	font-size:12px;
	padding:3px;
}
.convert:hover{
	background-color: #ddd;
}
